/* #region Common */
/* Root */
:root
{
  --bl-shadow: #9d9d9d;
  --bl-light: #f7f8f8;
  --bl-ligher: #ffffff;
  --bl-dark: #051930;
}

/* CSS RESET */
*
{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: var(--bl-light);
}

figure {
  width: 100px;
}

img {
  max-width: 100%;
}
/* #endregion Common */

/* #region Utility Classes */
.d-flex {
  display: flex;
}


/* #endregion Utility Classes */

/* #region Header */
#app-header {
  background-color: #ff6900;
  justify-content: space-around;
  align-items: center;
  padding: 1rem;
}

nav ul {
  list-style: none;
  gap: 1rem;
}

#app-header div {
  color: var(--bl-ligher);
  cursor: pointer;
}
/* #endregion Header */

/* #region Main */
/* #endregion Main */

/* #region Footer */
/* #endregion Footer */


